In [77]:
import dash
from dash import Dash, dcc, html, Input, Output
from dash import dcc, html, callback, Output, Input
import plotly.express as px
import dash_bootstrap_components as dbc
import pandas as pd
from dash import html, dcc
import pymssql
import numpy as np
conn = pymssql.connect("gen10-data-fundamentals-22-05-sql-server.database.windows.net","haydenmuscha","P3ngu!ns87","group5database")

In [78]:
query = f'SELECT * FROM NHAINESStat'
df1 = pd.read_sql(query, conn)

c:\Anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [79]:
query = f'SELECT * FROM NHAINESStat'
df1 = pd.read_sql(query, conn)

query = f'SELECT * FROM Demographic'
df2 = pd.read_sql(query, conn)

df3 =pd.merge(df1, df2, how='left', left_on=['educationID'], right_on=['demoID'])
#display(df3)
df3 = df3.rename(columns={"demo_group": "Education"})
df3 =df3.drop(['demoID','educationID','category'], axis=1)
#display(df3)
df4 =pd.merge(df3, df2, how='left', left_on=['smokerID'], right_on=['demoID'])
#display(df4)
df4['demo_group'] = df4['demo_group'].fillna('no info')
#display(df4)
df4 = df4.rename(columns={"demo_group": "smokingstatus"})
df4 =df4.drop(['demoID','smokerID','category'], axis=1)
#display(df4)
df5 =pd.merge(df4, df2, how='left', left_on=['drinkerID'], right_on=['demoID'])
#display(df5)
df5['demo_group'] = df5['demo_group'].fillna('no info')
#display(df5)
df5 = df5.rename(columns={"demo_group": "drinkkingstatus"})
df5 =df5.drop(['demoID','drinkerID','category'], axis=1)
#display(df5)
df6 =pd.merge(df5, df2, how='left', left_on=['incomeID'], right_on=['demoID'])
df6['demo_group'] = df6['demo_group'].fillna('no info')
df6 = df6.rename(columns={"demo_group": "income"})
df6 =df6.drop(['demoID','incomeID','category'], axis=1)
display(df6)

c:\Anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,nhainesID,sbp,dbp,hypertensive,multihypertensive,diabetes,prediabetes,diabetesRisk,mealsAtHome,familyMonthlyPoverty,height,weight,age,bmi,sexID,ethnicityID,Education,smokingstatus,drinkkingstatus,income
0,76183,102.0,74.0,False,None,False,False,False,1.0,1.54,64.0,125.0,17,21.453857,0,58,Unknown,no info,no info,"55,000 to 64,999"
1,77460,118.0,62.0,True,True,False,True,False,21.0,2.88,66.0,195.0,45,31.470386,1,55,Bachelors or Higher,Smoked <100 cigs.,12+ alc. drinks/yr,"35,000 to 44,999"
2,76184,148.0,84.0,True,True,None,None,False,4.0,1.81,75.0,380.0,59,47.491556,1,58,Some College or Associates degree,Smoked <100 cigs.,<12 alc. drinks/yr,"35,000 to 44,999"
3,77461,96.0,56.0,False,None,False,False,False,5.0,0.21,63.0,110.0,20,19.483497,0,54,Some College or Associates degree,Smoked <100 cigs.,<12 alc. drinks/yr,"less than 5,000"
4,81207,108.0,62.0,False,None,False,False,False,9.0,5.00,70.0,163.0,39,23.385510,1,58,Bachelors or Higher,Smoked <100 cigs.,12+ alc. drinks/yr,"100,000 and Over"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5679,76174,108.0,74.0,False,None,False,False,False,4.0,5.00,75.0,148.0,21,18.496711,1,58,High School Diploma or GED/equivalent,Smoked <100 cigs.,12+ alc. drinks/yr,"75,000 to 99,999"
5680,76176,104.0,58.0,False,None,False,False,False,10.0,0.92,72.0,167.0,17,22.646798,1,54,Unknown,no info,no info,"35,000 to 44,999"
5681,76178,104.0,74.0,False,None,None,None,True,2.0,5.00,58.0,105.0,49,21.942628,0,53,Bachelors or Higher,Smoked <100 cigs.,<12 alc. drinks/yr,"100,000 and Over"
5682,76179,110.0,70.0,False,None,False,False,False,3.0,5.00,64.0,160.0,54,27.460938,0,58,Bachelors or Higher,Smoked <100 cigs.,12+ alc. drinks/yr,"75,000 to 99,999"
5683,76180,122.0,76.0,True,True,False,False,False,0.0,0.03,70.0,230.0,55,32.997959,1,58,No High School Diploma or GED,Smoked <100 cigs.,no info,"less than 5,000"

In [80]:
conditions = [
    (df6['bmi'] < 18.5),
    (df6['bmi'] >= 18.5) & (df6['bmi'] < 25),
    (df6['bmi'] >= 25) & (df6['bmi'] < 30),
    (df6['bmi'] >= 30)
]

values = ['underweight', 'normal', 'overweight', 'obese']

df6['bmicategory'] = np.select(conditions, values)

print(df6)

      nhainesID    sbp   dbp hypertensive multihypertensive diabetes  \
0         76183  102.0  74.0        False              None    False
1         77460  118.0  62.0         True              True    False
2         76184  148.0  84.0         True              True     None
3         77461   96.0  56.0        False              None    False
4         81207  108.0  62.0        False              None    False
...         ...    ...   ...          ...               ...      ...
5679      76174  108.0  74.0        False              None    False
5680      76176  104.0  58.0        False              None    False
5681      76178  104.0  74.0        False              None     None
5682      76179  110.0  70.0        False              None    False
5683      76180  122.0  76.0         True              True    False

     prediabetes diabetesRisk  mealsAtHome  familyMonthlyPoverty  ...  weight  \
0          False        False          1.0                  1.54  ...   125.0
1           True        False         21.0                  2.88  ...   195.0
2           None        False          4.0                  1.81  ...   380.0
3          False        False          5.0                  0.21  ...   110.0
4          False        False          9.0                  5.00  ...   163.0
...          ...          ...          ...                   ...  ...     ...
5679       False        False          4.0                  5.00  ...   148.0
5680       False        False         10.0                  0.92  ...   167.0
5681        None         True          2.0                  5.00  ...   105.0
5682       False        False          3.0                  5.00  ...   160.0
5683       False        False          0.0                  0.03  ...   230.0

      age        bmi  sexID  ethnicityID  \
0      17  21.453857      0           58
1      45  31.470386      1           55
2      59  47.491556      1           58
3      20  19.483497      0           54
4      39  23.385510      1           58
...   ...        ...    ...          ...
5679   21  18.496711      1           58
5680   17  22.646798      1           54
5681   49  21.942628      0           53
5682   54  27.460938      0           58
5683   55  32.997959      1           58

                                  Education      smokingstatus  \
0                                   Unknown            no info
1                       Bachelors or Higher  Smoked <100 cigs.
2         Some College or Associates degree  Smoked <100 cigs.
3         Some College or Associates degree  Smoked <100 cigs.
4                       Bachelors or Higher  Smoked <100 cigs.
...                                     ...                ...
5679  High School Diploma or GED/equivalent  Smoked <100 cigs.
5680                                Unknown            no info
5681                    Bachelors or Higher  Smoked <100 cigs.
5682                    Bachelors or Higher  Smoked <100 cigs.
5683          No High School Diploma or GED  Smoked <100 cigs.

         drinkkingstatus            income  bmicategory
0                no info  55,000 to 64,999       normal
1     12+ alc. drinks/yr  35,000 to 44,999        obese
2     <12 alc. drinks/yr  35,000 to 44,999        obese
3     <12 alc. drinks/yr   less than 5,000       normal
4     12+ alc. drinks/yr  100,000 and Over       normal
...                  ...               ...          ...
5679  12+ alc. drinks/yr  75,000 to 99,999  underweight
5680             no info  35,000 to 44,999       normal
5681  <12 alc. drinks/yr  100,000 and Over       normal
5682  12+ alc. drinks/yr  75,000 to 99,999   overweight
5683             no info   less than 5,000        obese

[5684 rows x 21 columns]

In [81]:
conditions = [
    (df6['mealsAtHome'] < 7),
    (df6['mealsAtHome'] >= 7) & (df6['mealsAtHome'] < 14),
    (df6['mealsAtHome'] >= 14) & (df6['mealsAtHome'] < 21),
    (df6['mealsAtHome'] >= 21)
]

values = ['Less than Once a Day', ' 1+ times a day ', '2+ times a dat', '3 times a day']

df6['eatingout'] = np.select(conditions, values)

print(df6)

      nhainesID    sbp   dbp hypertensive multihypertensive diabetes  \
0         76183  102.0  74.0        False              None    False
1         77460  118.0  62.0         True              True    False
2         76184  148.0  84.0         True              True     None
3         77461   96.0  56.0        False              None    False
4         81207  108.0  62.0        False              None    False
...         ...    ...   ...          ...               ...      ...
5679      76174  108.0  74.0        False              None    False
5680      76176  104.0  58.0        False              None    False
5681      76178  104.0  74.0        False              None     None
5682      76179  110.0  70.0        False              None    False
5683      76180  122.0  76.0         True              True    False

     prediabetes diabetesRisk  mealsAtHome  familyMonthlyPoverty  ...  age  \
0          False        False          1.0                  1.54  ...   17
1           True        False         21.0                  2.88  ...   45
2           None        False          4.0                  1.81  ...   59
3          False        False          5.0                  0.21  ...   20
4          False        False          9.0                  5.00  ...   39
...          ...          ...          ...                   ...  ...  ...
5679       False        False          4.0                  5.00  ...   21
5680       False        False         10.0                  0.92  ...   17
5681        None         True          2.0                  5.00  ...   49
5682       False        False          3.0                  5.00  ...   54
5683       False        False          0.0                  0.03  ...   55

            bmi  sexID  ethnicityID                              Education  \
0     21.453857      0           58                                Unknown
1     31.470386      1           55                    Bachelors or Higher
2     47.491556      1           58      Some College or Associates degree
3     19.483497      0           54      Some College or Associates degree
4     23.385510      1           58                    Bachelors or Higher
...         ...    ...          ...                                    ...
5679  18.496711      1           58  High School Diploma or GED/equivalent
5680  22.646798      1           54                                Unknown
5681  21.942628      0           53                    Bachelors or Higher
5682  27.460938      0           58                    Bachelors or Higher
5683  32.997959      1           58          No High School Diploma or GED

          smokingstatus     drinkkingstatus            income  bmicategory  \
0               no info             no info  55,000 to 64,999       normal
1     Smoked <100 cigs.  12+ alc. drinks/yr  35,000 to 44,999        obese
2     Smoked <100 cigs.  <12 alc. drinks/yr  35,000 to 44,999        obese
3     Smoked <100 cigs.  <12 alc. drinks/yr   less than 5,000       normal
4     Smoked <100 cigs.  12+ alc. drinks/yr  100,000 and Over       normal
...                 ...                 ...               ...          ...
5679  Smoked <100 cigs.  12+ alc. drinks/yr  75,000 to 99,999  underweight
5680            no info             no info  35,000 to 44,999       normal
5681  Smoked <100 cigs.  <12 alc. drinks/yr  100,000 and Over       normal
5682  Smoked <100 cigs.  12+ alc. drinks/yr  75,000 to 99,999   overweight
5683  Smoked <100 cigs.             no info   less than 5,000        obese

                 eatingout
0     Less than Once a Day
1            3 times a day
2     Less than Once a Day
3     Less than Once a Day
4          1+ times a day
...                    ...
5679  Less than Once a Day
5680       1+ times a day
5681  Less than Once a Day
5682  Less than Once a Day
5683  Less than Once a Day

[5684 rows x 22 columns]

In [82]:
education = df6[['diabetes','prediabetes','diabetesRisk','Education']]
print(education)

     diabetes prediabetes diabetesRisk                              Education
0       False       False        False                                Unknown
1       False        True        False                    Bachelors or Higher
2        None        None        False      Some College or Associates degree
3       False       False        False      Some College or Associates degree
4       False       False        False                    Bachelors or Higher
...       ...         ...          ...                                    ...
5679    False       False        False  High School Diploma or GED/equivalent
5680    False       False        False                                Unknown
5681     None        None         True                    Bachelors or Higher
5682    False       False        False                    Bachelors or Higher
5683    False       False        False          No High School Diploma or GED

[5684 rows x 4 columns]

In [83]:
bmidist = df6[['diabetes','prediabetes','diabetesRisk','bmicategory']]
print(bmidist)

     diabetes prediabetes diabetesRisk  bmicategory
0       False       False        False       normal
1       False        True        False        obese
2        None        None        False        obese
3       False       False        False       normal
4       False       False        False       normal
...       ...         ...          ...          ...
5679    False       False        False  underweight
5680    False       False        False       normal
5681     None        None         True       normal
5682    False       False        False   overweight
5683    False       False        False        obese

[5684 rows x 4 columns]

In [84]:
foodchoice = df6[['diabetes','prediabetes','diabetesRisk','eatingout']]
print(foodchoice)

     diabetes prediabetes diabetesRisk             eatingout
0       False       False        False  Less than Once a Day
1       False        True        False         3 times a day
2        None        None        False  Less than Once a Day
3       False       False        False  Less than Once a Day
4       False       False        False       1+ times a day
...       ...         ...          ...                   ...
5679    False       False        False  Less than Once a Day
5680    False       False        False       1+ times a day
5681     None        None         True  Less than Once a Day
5682    False       False        False  Less than Once a Day
5683    False       False        False  Less than Once a Day

[5684 rows x 4 columns]

In [85]:
income = df6[['diabetes','prediabetes','diabetesRisk','income']]
print(income)

     diabetes prediabetes diabetesRisk            income
0       False       False        False  55,000 to 64,999
1       False        True        False  35,000 to 44,999
2        None        None        False  35,000 to 44,999
3       False       False        False   less than 5,000
4       False       False        False  100,000 and Over
...       ...         ...          ...               ...
5679    False       False        False  75,000 to 99,999
5680    False       False        False  35,000 to 44,999
5681     None        None         True  100,000 and Over
5682    False       False        False  75,000 to 99,999
5683    False       False        False   less than 5,000

[5684 rows x 4 columns]